.text-input-container {
  display: flex;
  position: relative;
}
.text-input-textinput {
  color: #141313;
  min-height: 30px;
  text-align: right;
  transition: 0.3s;
  padding-top: 5px;
  border-width: 0px;
  border-radius: 15px;
  padding-bottom: 5px;
  background-color: #f1eeee;
}
.text-input-textinput:focus {
  color: #f1eeee;
  border-radius: 22px;
  background-color: #141313;
}
.text-input-textinput:active {
  color: #f1eeee;
  background-color: #141313;
}
