.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-icon {
  fill: #3d3939;
  width: 33px;
  height: 33px;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
}
