.chose-shelon-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.chose-shelon-container1 {
  flex: 0 0 auto;
  color: white;
  width: 100%;
  display: flex;
  padding: 20px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #292f3f;
}
.chose-shelon-header {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  flex-direction: column;
}
.chose-shelon-list {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.chose-shelon-item {
  flex: 0 0 auto;
  width: 60%;
  height: 100px;
  display: flex;
  margin-top: 13px;
  align-items: center;
  border-radius: 25px;
  margin-bottom: 13px;
  justify-content: center;
  background-color: #373e4e;
}
.chose-shelon-list-shelon {
  flex: 0 0 auto;
  width: 60vw;
  margin: 30px;
  display: flex;
  overflow-x: scroll;
  align-items: center;
  border-radius: 23px;
  flex-direction: row;
  justify-content: center;
  scrollbar-width: hidden;
  background-color: #373e4e;
}
.chose-shelon-shelon-type {
  flex: 0 0 auto;
  height: 100px;
  margin: 13px;
  display: flex;
  padding: 20px;
  align-items: center;
  border-radius: 30px;
  flex-direction: column;
  justify-content: center;
  background-color: #272a35;
}
.chose-shelon-q-text {
  font-size: 30px;
}
.chose-shelon-shelon-type-chosen {
  flex: 0 0 auto;
  height: 100px;
  margin: 13px;
  display: flex;
  padding: 20px;
  align-items: center;
  border-radius: 30px;
  flex-direction: column;
  justify-content: center;
  background-color: #272a35;
}
.chose-shelon-q-text1 {
  font-size: 30px;
}
.chose-shelon-shelon-type1 {
  flex: 0 0 auto;
  height: 100px;
  margin: 13px;
  display: flex;
  padding: 20px;
  align-items: center;
  border-radius: 30px;
  flex-direction: column;
  justify-content: center;
  background-color: #272a35;
}
.chose-shelon-q-text2 {
  font-size: 30px;
}
.chose-shelon-shelon-type2 {
  flex: 0 0 auto;
  height: 100px;
  margin: 13px;
  display: flex;
  padding: 20px;
  align-items: center;
  border-radius: 30px;
  flex-direction: column;
  justify-content: center;
  background-color: #272a35;
}
.chose-shelon-q-text3 {
  font-size: 30px;
}
.chose-shelon-chosen {
  flex: 0 0 auto;
  width: 80%;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  background-color: #373e4e;
}
.chose-shelon-header1 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  flex-direction: column;
}
.chose-shelon-heading1 {
  margin-top: 30px;
}
.chose-shelon-q {
  flex: 0 0 auto;
  width: 60%;
  height: 100px;
  display: flex;
  padding: 30px;
  margin-top: 13px;
  align-items: center;
  border-radius: 25px;
  margin-bottom: 13px;
  justify-content: center;
  background-color: #272a35;
}
.chose-shelon-q-open {
  flex: 0 0 auto;
  width: 60%;
  display: flex;
  padding: 30px;
  margin-top: 13px;
  align-items: center;
  border-radius: 25px;
  margin-bottom: 13px;
  flex-direction: column;
  justify-content: center;
  background-color: #272a35;
}
.chose-shelon-container2 {
  flex: 0 0 auto;
  width: 70%;
  height: 100px;
  display: flex;
  margin-top: 20px;
  align-items: center;
  margin-left: 10px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-right: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
  flex-direction: column;
  justify-content: center;
  background-color: #292f3f;
}
.chose-shelon-container3 {
  flex: 0 0 auto;
  width: 70%;
  height: 100px;
  display: flex;
  margin-top: 20px;
  align-items: center;
  margin-left: 10px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-right: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
  flex-direction: column;
  justify-content: center;
  background-color: #292f3f;
}
@media (max-width: 479px) {
  .chose-shelon-shelon-type {
    height: 60px;
  }
  .chose-shelon-q-text {
    padding: 10px;
  }
  .chose-shelon-shelon-type-chosen {
    height: 60px;
    border-color: green;
    border-style: double;
    border-width: 2px;
  }
  .chose-shelon-q-text1 {
    padding: 10px;
  }
  .chose-shelon-shelon-type1 {
    height: 60px;
  }
  .chose-shelon-q-text2 {
    padding: 10px;
  }
  .chose-shelon-shelon-type2 {
    height: 60px;
  }
  .chose-shelon-q-text3 {
    padding: 10px;
  }
}
