.tool-bar-container {
  width: 60%;
  display: flex;
  padding: 2em;
  position: relative;
  align-items: flex-end;
  border-radius: 30px;
  margin-bottom: 30px;
  flex-direction: row;
  justify-content: center;
  background-color: #373e4e;
}
.tool-bar-excel {
  flex: 0 0 auto;
  margin: 20px;
  display: flex;
  padding: 13px;
  align-items: center;
  border-radius: 30px;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #272a35;
}
.tool-bar-button {
  color: var(--dl-color-gray-white);
  margin: 20px;
  padding: 1em;
  font-size: 20px;
  border-width: 0px;
  background-color: transparent;
}
.tool-bar-icon {
  width: 30px;
  height: 30px;
}
.tool-bar-summery {
  flex: 0 0 auto;
  margin: 20px;
  display: flex;
  padding: 13px;
  align-items: center;
  border-radius: 30px;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #272a35;
}
.tool-bar-button1 {
  color: var(--dl-color-gray-white);
  margin: 20px;
  padding: 1em;
  font-size: 20px;
  border-width: 0px;
  background-color: transparent;
}
.tool-bar-icon2 {
  width: 30px;
  height: 30px;
}
.tool-bar-calculate {
  flex: 0 0 auto;
  margin: 20px;
  display: flex;
  padding: 13px;
  align-items: center;
  border-radius: 30px;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #272a35;
}
.tool-bar-button2 {
  color: var(--dl-color-gray-white);
  margin: 20px;
  padding: 1em;
  font-size: 20px;
  border-width: 0px;
  background-color: transparent;
}
.tool-bar-icon4 {
  width: 30px;
  height: 30px;
}
@media (max-width: 991px) {
  .tool-bar-container {
    width: 80%;
  }
}
@media (max-width: 767px) {
  .tool-bar-container {
    width: 100%;
  }
}
@media (max-width: 479px) {
  .tool-bar-excel {
    margin: 3px;
  }
  .tool-bar-button {
    padding: 0.2em;
  }
  .tool-bar-summery {
    margin: 3px;
  }
  .tool-bar-button1 {
    padding: 0.2em;
  }
  .tool-bar-calculate {
    margin: 3px;
  }
  .tool-bar-button2 {
    padding: 0.2em;
  }
}
